{% extends 'cbvadmin/adminlte/base_site.html' %}
{% load crispy_forms_tags i18n %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}
{% block content_header %}
<section class="content-header">
  <h1>
    {% block title %}Editar {{ view.admin.model_opts.verbose_name|capfirst }}{% endblock %}
    <small>{{ object }}</small>
  </h1>
</section>
{% endblock %}

<section class="content">
  <form class="ui form" method="post" id="change-form" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>
    <div class="box box-primary">
      <div class="box-body">
        {% crispy form %}
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>
            {% trans 'Save' %}
          </button>
        </div>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-modal">
          <i class="fa fa-trash"></i>
          {% trans 'Delete' %}
        </button>
      </div>
    </div>
  </form>
</section>
{% if object and admin.urls.delete %}
{% include 'cbvadmin/adminlte/delete_modal.html' %}
{% endif %}

{% endblock %}

{% block extrascript %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}