{% extends 'cbvadmin/adminlte/base_site.html' %}
{% load i18n django_tables2 %}
{% block content %}
{% block content_header %}
<section class="content-header">
  <h1>
    {% block title %}{{ view.admin.model_opts.verbose_name_plural|capfirst }}{% endblock %}
  </h1>
</section>
{% endblock %}

<section class="content">
{% block filter %}
{% if view.has_filters and filter.form %}
{% include 'cbvadmin/adminlte/filter.html' %}
{% endif %}
{% endblock %}
  <div class="box box-primary">
    <div class="box-body">
      <div>
        {{ table.page.start_index }}-{{ table.page.end_index }}/{{ object_list.count }}
        <div class="btn-group">
          {% if table.page.has_prev %}
          <a class="btn btn-default btn-sm" href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
            <i class="fa fa-chevron-left"></i>
          </a>
          {% else %}
          <div class="btn btn-default btn-sm btn-disabled"><i class="fa fa-chevron-left"></i></div>
          {% endif %}
          {% if table.page.has_next %}
          <a class="btn btn-default btn-sm" href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
            <i class="fa fa-chevron-right"></i>
          </a>
          {% else %}
          <div class="btn btn-default btn-sm btn-disabled"><i class="fa fa-chevron-right"></i></div>
          {% endif %}
        </div>
        <div class="pull-right">
          {% block actions %}
          <div class="btn-group">
            {% if admin.urls.add %}
            <a class="btn btn-primary btn-sm" href="{% url admin.urls.add %}">
              <i class="fa fa-add"></i> {% trans 'Add' %}
            </a>
            {% endif %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="box-body">
      {% block list %}
      {% load render_table from django_tables2 %}
      {% render_table table 'cbvadmin/adminlte/table.html' %}
      {% endblock %}
    </div>
  </div>
</section>
{% endblock %}
