{% extends 'cbvadmin/adminlte/registration/simple_form.html' %}
{% load i18n crispy_forms_filters %}

{% block content %}
<h2 style="margin-top: 0px">{% block title %}Redefinição de senha enviada{% endblock %}</h2>
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
<a class="btn btn-primary btn-block btn-flat" href="{% url view.admin.urls.login %}">Voltar ao início</a>
{% endblock %}
